{% extends 'base.html.twig' %}

{% block title %}Workoutplan{% endblock %}
{% block pagetitle %}<h2>Workout Plan <em>Details</em></h2>{% endblock %}

{% block body %}
    <table class="schedule-table filtering text-center">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ workoutplan.id }}</td>
            </tr>
            <tr>
                <th>Plan_name</th>
                <td>{{ workoutplan.planName }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ workoutplan.description }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ workoutplan.duration }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_workoutplan_index') }}" class="btn btn-outline-dark w-100 my-1" >back to list</a>

    <a href="{{ path('app_workoutplan_edit', {'id': workoutplan.id}) }}" class="btn btn-outline-warning">edit</a>

    {{ include('workoutplan/_delete_form.html.twig') }}
{% endblock %}
